@charset "UTF-8";

.colors {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	grid-template-rows: repeat(7,50px);
	grid-template-columns: repeat(auto-fill, 100px);
}

.color {
	width: 100px;
	height: 50px;
	background-color: white;
	color: rgba(black,0.5);
	text-align: center;
	font-family: Arial,sans-serif;
	font-size: 13px;
	box-shadow: 0 0 0 1px rgba(black,0.05) inset;
}

$dye : (
	'205-03': #968d16,
	'205-05': #ebe823,
	'205-08': #e9eb86,
	'205-09': #f0da9e,
	'205-12': #fffde9,

	'201-03': #928c3b,
	'201-05': #ebd84b,
	'201-07': #f4e34f,
	'201-08': #fff685,

	'202-03': #857333,
	'202-05': #e29843,
	'202-07': #f2c576,
	'202-09': #f0da9e,
	'202-12': #fffbd6,

	'236-03': #5a300b,
	'236-05': #eb8c2f,
	'236-07': #ec9263,
	'236-08': #dfa67d,
	'236-09': #ebbba2,

	'235-02': #5d2a29,
	'235-03': #994623,
	'235-05': #e1542c,
	'235-08': #e78c63,
	'235-09': #ea8f74,

	'370-03': #952e3b,
	'370-05': #ed462f,
	'370-07': #ed4d52,
	'370-09': #f5b3a2,

	'372-02': #53242d,
	'372-03': #73323d,
	'372-05': #d93f2a,
	'372-08': #e1ada2,
	'372-09': #eca7a5,
	'372-10': #f2e6d8,

	'371-03': #751e1e,
	'371-05': #cc3c38,
	'371-07': #c75068,
	'371-08': #dc9fa5,
	'371-09': #e0c1ca,

	'318-03': #9c3c40,
	'318-05': #d94256,
	'318-07': #e55477,
	'318-08': #e87f87,
	'318-09': #e495b9,

	'331-03': #902b4a,
	'331-05': #b53430,
	'331-07': #cd636e,
	'331-08': #d2a0a1,
	'331-09': #e1bcc2,

	'397-03': #a73563,
	'397-05': #d74886,
	'397-07': #e1ada2,
	'397-09': #dea1c3,
	'397-10': #dfbed4,

	'545-02': #492951,
	'545-03': #87327e,
	'545-05': #ab3f96,
	'545-07': #d06caa,
	'545-08': #eab4d2,

	'536-02': #2c2a57,
	'536-03': #493268,
	'536-05': #623e99,
	'536-07': #8c62a3,
	'536-09': #c8b2cd,

	'548-02': #1c3542,
	'548-03': #231b4c,
	'548-05': #504fa1,
	'548-07': #9c85bd,
	'548-08': #bcaecb,

	'506-02': #162e55,
	'506-03': #125a9d,
	'506-05': #1d73bc,
	'506-07': #3ba2d7,
	'506-09': #b9d1ec,

	'505-03': #1e576d,
	'505-05': #2a84c3,
	'505-07': #2e8ccc,
	'505-08': #8cb5da,
	'505-09': #bfccda,
	'505-10': #e1f4fc,

	'508-02': #03203b,
	'508-03': #052f59,
	'508-05': #0b3d68,
	'508-07': #20648c,
	'508-08': #3899ca,
);

@each $n, $c in $dye {
	.dye-#{$n} {
		background-color: $c;
	}
}

// .dye-205-07 {
// 	background-color: mix(map-get($dye,'205-05'),map-get($dye,'205-08'));
// }
