@charset "UTF-8";

@import "brightness";


body {
	padding: 24px;
	font-family: 'Open Sans', sans-serif;
}

.wrap {
	max-width: 100%;
	overflow-x: auto;
	padding-bottom: 24px;
}

h1 {
	text-align: center;
}

.colors {
	display: grid;
	grid-auto-flow: column;
	grid-gap: 5px;
	grid-template-rows: auto repeat(7,50px);
	grid-template-columns: repeat(auto-fill, 100px);
}

.header {
	text-align: center;
	line-height: 1.25;

	h2 {
		font-size: 12px;
		margin: 0 0 2px;
		font-weight: 600;

		strong {
			display: block;
		}
	}

	p {
		margin: 0;
		font-size: 15px;
		font-family: 'Saira Extra Condensed', sans-serif;
	}
}

.color {
	width: 100px;
	height: 50px;
	background-color: white;
	color: rgba(black,0.5);
	text-align: center;
	font-size: 13px;
	box-shadow: 0 0 0 1px rgba(black,0.05) inset;

	&.in-set {
		position: relative;

		.set {
			position: absolute;
			width: 11px;
			height: 11px;
			line-height: 12px;
			border-radius: 100%;
			font-size: 7px;
			right: 5px;
			cursor: pointer;
			font-weight: 700;
		}

		.royaltalens-site {
			left: 5px;
		}

		.set-90 {
			bottom: 5px;
		}

		.set-60 {
			top: 5px;
		}
	}

	h3 {
		font-weight: 600;
	}
}

$dye : (
	'100-05': #e6e7e9,

	'205-03': #968d16,
	'205-05': #ebe823,
	'205-08': #e9eb86,
	'205-09': #f0da9e,
	'205-12': #fffde9,

	'201-03': #928c3b,
	'201-05': #ebd84b,
	'201-07': #f4e34f,
	'201-08': #fff685,

	'202-03': #857333,
	'202-05': #e29843,
	'202-07': #f2c576,
	'202-09': #f0da9e,
	'202-12': #fffbd6,

	'236-03': #5a300b,
	'236-05': #eb8c2f,
	'236-07': #ec9263,
	'236-08': #dfa67d,
	'236-09': #ebbba2,

	'235-02': #5d2a29,
	'235-03': #994623,
	'235-05': #e1542c,
	'235-08': #e78c63,
	'235-09': #ea8f74,

	'370-03': #952e3b,
	'370-05': #ed462f,
	'370-07': #ed4d52,
	'370-09': #f5b3a2,

	'372-02': #53242d,
	'372-03': #73323d,
	'372-05': #d93f2a,
	'372-08': #e1ada2,
	'372-09': #eca7a5,
	'372-10': #f2e6d8,

	'371-03': #751e1e,
	'371-05': #cc3c38,
	'371-07': #c75068,
	'371-08': #dc9fa5,
	'371-09': #e0c1ca,

	'318-03': #9c3c40,
	'318-05': #d94256,
	'318-07': #e55477,
	'318-08': #e87f87,
	'318-09': #e495b9,

	'331-03': #902b4a,
	'331-05': #b53430,
	'331-07': #cd636e,
	'331-08': #d2a0a1,
	'331-09': #e1bcc2,

	'397-03': #a73563,
	'397-05': #d74886,
	'397-07': #e1ada2,
	'397-09': #dea1c3,
	'397-10': #dfbed4,

	'545-02': #492951,
	'545-03': #87327e,
	'545-05': #ab3f96,
	'545-07': #d06caa,
	'545-08': #eab4d2,

	'536-02': #2c2a57,
	'536-03': #493268,
	'536-05': #623e99,
	'536-07': #8c62a3,
	'536-09': #c8b2cd,

	'548-02': #1c3542,
	'548-03': #231b4c,
	'548-05': #504fa1,
	'548-07': #9c85bd,
	'548-08': #bcaecb,

	'506-02': #162e55,
	'506-03': #125a9d,
	'506-05': #1d73bc,
	'506-07': #3ba2d7,
	'506-09': #b9d1ec,

	'505-03': #1e576d,
	'505-05': #2a84c3,
	'505-07': #2e8ccc,
	'505-08': #8cb5da,
	'505-09': #bfccda,
	'505-10': #e1f4fc,

	'508-02': #03203b,
	'508-03': #052f59,
	'508-05': #0b3d68,
	'508-07': #20648c,
	'508-08': #3899ca,

	'570-03': #005b7f,
	'570-05': #018cc7,
	'570-07': #54b7df,
	'570-09': #acdfef,

	'522-02': #0e5268,
	'522-03': #01656d,
	'522-05': #0091a6,
	'522-08': #2caeb0,
	'522-10': #addee4,

	'640-02': #083742,
	'640-03': #005959,
	'640-05': #00807a,
	'640-07': #178B86,
	'640-09': #5ac4bd,

	'627-02': #073937,
	'627-03': #145a43,
	'627-05': #2c7058,
	'627-07': #006c45,
	'627-08': #3e9d7b,
	'627-09': #67ab80,
	'627-10': #b3d1bb,

	'619-03': #019160,
	'619-05': #039567,
	'619-07': #00a372,
	'619-09': #aacea4,

	'675-03': #008345,
	'675-05': #4faa65,
	'675-08': #82c198,

	'618-03': #6a7d4e,
	'618-05': #73b643,
	'618-08': #a0c586,
	'618-09': #b5cfa8,

	'626-03': #2c5935,
	'626-05': #68842c,
	'626-07': #839123,
	'626-09': #bec857,
	'626-10': #dbdfa8,

	'633-03': #638a42,
	'633-05	': #c8d242,
	'633-07': #d5ce51,
	'633-09': #dcd9a1,

	'620-02': #273a25,
	'620-03': #514c0c,
	'620-05': #626208,
	'620-07': #a38d45,
	'620-08': #d0c77f,
	'620-10': #cdd2a0,

	'227-02': #5c523f,
	'227-03': #9c7b4c,
	'227-05': #d28646,
	'227-07': #eecc98,
	'227-09': #eeddbf,
	'227-10': #fffde9,

	'234-02': #554d34,
	'234-03': #9c7b4c,
	'234-05': #e29c47,
	'234-07': #d59455,
	'234-08': #daa26c,
	'234-09': #ecca9e,
	'234-10': #f0cdaf,

	'231-03': #a6744f,
	'231-05': #cc7b4b,
	'231-07': #d89b6c,
	'231-08': #dfa67d,
	'231-09': #efb37f,
	'231-10': #f1c8a8,

	'339-03': #654d46,
	'339-05': #d6785f,
	'339-07': #d89c81,
	'339-08': #d8a6a0,
	'339-09': #e4bfaf,
	'339-10': #fee8e7,

	'408-02': #24332f,
	'408-03': #483517,
	'408-05': #2c331a,
	'408-07': #735b39,
	'408-09': #ae9574,
	'408-10': #b6a897,

	'411-03': #6a3d32,
	'411-05': #b55140,
	'411-07': #c16140,
	'411-08': #e78c63,
	'411-09': #f2dbc2,
	'411-10': #f2dbc2,

	'343-03': #751e12,
	'343-05': #862e1b,
	'343-07': #8f5757,
	'343-08': #d6948a,
	'343-09': #e3cecd,

	'347-02': #2e2835,
	'347-03': #6e2e43,
	'347-05': #802d40,
	'347-07': #815262,
	'347-09': #bfa4b0,

	'538-03': #362033,
	'538-05': #551f22,
	'538-07': #825460,
	'538-08': #94787d,
	'538-09': #a38488,
	'538-10': #bfadb5,

	'409-03': #350908,
	'409-05': #571719,
	'409-07': #7a513e,
	'409-08': #a77c70,
	'409-09': #c3a08d,
	'409-10': #d7bcab,

	'704-03': #211d14,
	'704-05': #4c4b46,
	'704-07': #8b8b81,
	'704-08': #a8a89d,
	'704-09': #d0d2cc,
	'704-10': #f2f2e9,

	'727-03': #0a2d40,
	'727-05': #294a59,
	'727-07': #647882,
	'727-08': #94a2aa,
	'727-09': #b0c0c9,
	'727-10': #d8e9f1,

	'707-03': #3f2c35,
	'707-05': #4c4147,
	'707-07': #6c696d,
	'707-08': #939598,
	'707-09': #bcbdc0,
	'707-10': #dcdddf,

	'709-03': #2f2c11,
	'709-05': #3e3b1c,
	'709-07': #4c4a38,
	'709-08': #828f96,
	'709-09': #b2b3b7,
	'709-10': #c6ced4,

	'700-05': #231f20
);

@each $n, $c in $dye {
	.dye-#{$n} {
		background-color: $c;
		color: contrasting-color($c);

		.set {
			background-color: contrasting-color($c);
			color: $c;
		}
	}
}

// .dye-205-07 {
// 	background-color: mix(map-get($dye,'205-05'),map-get($dye,'205-08'));
// }
