.colors {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 5px;
  grid-template-rows: repeat(7, 50px);
  grid-template-columns: repeat(auto-fill, 100px); }

.color {
  width: 100px;
  height: 50px;
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-family: Arial,sans-serif;
  font-size: 13px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset; }

.dye-205-03 {
  background-color: #968d16; }

.dye-205-05 {
  background-color: #ebe823; }

.dye-205-08 {
  background-color: #e9eb86; }

.dye-205-09 {
  background-color: #f0da9e; }

.dye-205-12 {
  background-color: #fffde9; }

.dye-201-03 {
  background-color: #928c3b; }

.dye-201-05 {
  background-color: #ebd84b; }

.dye-201-07 {
  background-color: #f4e34f; }

.dye-201-08 {
  background-color: #fff685; }

.dye-202-03 {
  background-color: #857333; }

.dye-202-05 {
  background-color: #e29843; }

.dye-202-07 {
  background-color: #f2c576; }

.dye-202-09 {
  background-color: #f0da9e; }

.dye-202-12 {
  background-color: #fffbd6; }
